* {
    outline: 1px solid red;
}

html, body, #app {
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0px;
}

.flex-container {
    width: 100%;
    height: 100%;
    display: flex; /* or inline-flex */
    align-items: stretch;
    overflow: auto;
}

.flex-item {
    flex-grow: 1;
}

.inverter {
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: inherit;
    border-left: 20px solid red;
    position: absolute;
}